<apex:page standardController="Opportunity" extensions="OppAccPhoneEmailCtrl" sidebar="true" lightningStylesheets="true">

    <style>
        .accountTab .bPageBlock {
            border: none;
        }
        
        //To change the color of the border
        
        #j_id0:frm:j_id2 .bPageBlock .brandSecondaryBrd .bEditBlock .secondaryPalette {
            border-top: 0.4px solid black;
        }
    </style>

    <apex:form id="frm">
        <apex:pageBlock mode="edit">
            <apex:pageBlockSection >
                <apex:OutputField value="{!objOpp.AccountPhone4Templates__c}" rendered="{!IF(userflag,true,false)}"/>
                <apex:OutputField value="{!objOpp.Account_Email4templates__c}" rendered="{!IF(userflag,true,false)}"/>
                              
                <apex:outputText value="{!strPhone}" rendered="{!IF(userflag,false,true)}" label="Client/Lead Phone"/>
                <apex:outputText value="{!strEmail}" rendered="{!IF(userflag,false,true)}" label="Client/Lead Email "/>                
            </apex:pageBlockSection>
        </apex:pageBlock> 
    </apex:form>
</apex:page>