<apex:page standardController="Opportunity" extensions="createDealShipment" action="{!shipFromDealRecord}">
    <apex:outputPanel >
        If you can read this an error has occured.  Please contact your system administrator for more information.  You will now be returned to the record you were viewing.
    </apex:outputPanel>
</apex:page>