<apex:page standardController="Watch_Sale__c" lightningstylesheets="true">
    <apex:includeLightning />

    <div id="lightning" />

    <script>
    var watchSaleId = "{!$CurrentPage.parameters.id}";
    var themeclassic = "{! $User.UIThemeDisplayed == 'Theme3'}"
        $Lightning.use("c:WatchSaleEditApp", function() {
          $Lightning.createComponent("c:WatchSalePage",
              { "recordId" : watchSaleId,"themeclassic" : themeclassic},
              "lightning",
              function(cmp) {
              
              $A.eventService.addHandler({
                   event: 'force:navigateToURL',
                   handler: function(event) { 
                       window.location = "/"+watchSaleId ;
                   }
            });
              
              }
          );
        });
    </script>
</apex:page>