.THIS .uiModal--horizontalForm .modal-container {
    }

.THIS .slds-modal__header {
        text-align: left;

}

.THIS .slds-form-element_horizontal .slds-form-element__label .slds-form_horizontal .slds-form-element .slds-form-element__label .slds-form_stacked .slds-form-element_horizontal .slds-form-element__label {
    max-width: 100%;
}

.THIS.slds-spinner_container {  
  z-index: -1;
  position: fixed;   
}

.THIS .uiMessage.error {
    border-color: rgb(194, 57, 52);
    background-color: rgb(194, 57, 52);
    color: white;
}